h1 {
  border: 2px dashed red;
  width: 50%;
  font-size: 3rem;
  /* half of 3rem. em used for margin or padding */
  padding: 0.5em;
}
main {
  font-size: 2rem;
}
body {
  min-height: 100vh;
}
p {
  font-size: 1.5rem;
}
