@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  padding: 20%;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  /* background-color: papayawhip;
  color: #000; */
}
/* a and a:* have same specifity */

a {
  color: hsl(207, 44%, 49%);
}

/* psudo class */
a:visited {
  color: purple;
}
a:hover,
a:focus {
  color: hsl(190, 44%, 49%);
}
a:active {
  color: yellow;
}
